<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.app.dao.JoinMeetingDao">

	<select id="get" resultType="com.bootdo.app.domain.JoinMeetingDO">
		select `id`,`mt_id`,`user_id`,`open_id`,`pic` from app_join_meeting where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.app.domain.JoinMeetingDO">
		select `id`,`mt_id`,`user_id`,`open_id`,`pic` from app_join_meeting
        <where>
												<if test="id != null and id != ''">and id =
						#{id}
					</if>
																<if test="mtId != null and mtId != ''">and mt_id =
						#{mtId}
					</if>
																<if test="userId != null and userId != ''">and user_id =
						#{userId}
					</if>
																<if test="openId != null and openId != ''">and open_id =
						#{openId}
					</if>
																<if test="pic != null and pic != ''">and pic =
						#{pic}
					</if>
									</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from app_join_meeting
		 <where>
			 				 					 <if test="id != null and id != ''">and id =
						 #{id}
					 </if>
				 			 				 					 <if test="mtId != null and mtId != ''">and mt_id =
						 #{mtId}
					 </if>
				 			 				 					 <if test="userId != null and userId != ''">and user_id =
						 #{userId}
					 </if>
				 			 				 					 <if test="openId != null and openId != ''">and open_id =
						 #{openId}
					 </if>
				 			 				 					 <if test="pic != null and pic != ''">and pic =
						 #{pic}
					 </if>
				 			 		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.app.domain.JoinMeetingDO" useGeneratedKeys="true" keyProperty="id">
		insert into app_join_meeting
		(
			`mt_id`, 
			`user_id`, 
			`open_id`, 
			`pic`
		)
		values
		(
			#{mtId}, 
			#{userId}, 
			#{openId}, 
			#{pic}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.app.domain.JoinMeetingDO">
		update app_join_meeting 
		<set>
			<if test="mtId != null">`mt_id` = #{mtId}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="openId != null">`open_id` = #{openId}, </if>
			<if test="pic != null">`pic` = #{pic}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from app_join_meeting where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from app_join_meeting where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>