<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.app.dao.StatisticalDao">

    <select id="get" resultType="com.bootdo.app.domain.StatisticalDO">
        select `id`, `user_id`, `action`, `object`,create_date
        from app_statistical
        where id = #{value}
    </select>

    <select id="list" resultType="com.bootdo.app.domain.StatisticalDO">
        select `id`,`user_id`,`action`,`object`,create_date from app_statistical
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="action != null and action != ''">and action =
                #{action}
            </if>
            <if test="object != null and object != ''">and object =
                #{object}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from app_statistical
        <where>
            <if test="id != null and id != ''">and id =
                #{id}
            </if>
            <if test="userId != null and userId != ''">and user_id =
                #{userId}
            </if>
            <if test="action != null and action != ''">and action =
                #{action}
            </if>
            <if test="object != null and object != ''">and object =
                #{object}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.bootdo.app.domain.StatisticalDO" useGeneratedKeys="true" keyProperty="id">
        insert into app_statistical
        (`user_id`,
         `action`,
         `object`,
         create_date)
        values (#{userId},
                #{action},
                #{object},
                #{createDate})
    </insert>

    <update id="update" parameterType="com.bootdo.app.domain.StatisticalDO">
        update app_statistical
        <set>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="createDate!= null">`create_date` = #{createDate},</if>
            <if test="action != null">`action` = #{action},</if>
            <if test="object != null">`object` = #{object}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from app_statistical
        where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from app_statistical where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>